{% extends 'base.html' %} {% block content %}

<style>
  .privacy-policy-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .privacy-policy-subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .privacy-policy-description {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .privacy-policy-list {
    list-style-type: disc;
    margin-left: 20px;
  }

  .privacy-policy-contact {
    margin-top: 30px;
    font-style: italic;
  }
</style>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="privacy-policy">
        <h2 class="privacy-policy-title">Privacy Policy</h2>
        <p class="privacy-policy-description">
          Welcome to our website! We're dedicated to safeguarding your privacy.
          Our privacy policy outlines our commitment to protecting your data. We
          ensure transparency in how we collect and use information. Your trust
          is paramount, and we prioritize the security of your personal data.
          Contact us with any inquiries.
        </p>

        <h3 class="privacy-policy-subtitle">Information We Collect</h3>
        <p class="privacy-policy-description">
          We may collect personal information that you provide to us when you
          interact with our website. This information may include:
        </p>
        <ul class="privacy-policy-list">
          <li>
            Contact Information: Such as your name, email address, and phone
            number, which you provide when contacting us or signing up for our
            newsletter.
          </li>
          <li>
            Usage Information: Such as your IP address, browser type, and device
            information collected automatically when you visit our website.
          </li>
        </ul>

        <h3 class="privacy-policy-subtitle">How We Use Your Information</h3>
        <p class="privacy-policy-description">
          We use the information we collect for the following purposes:
        </p>
        <ul class="privacy-policy-list">
          <li>To provide and maintain our website.</li>
          <li>
            To communicate with you, respond to your inquiries, and provide
            customer support.
          </li>
          <li>
            To analyze trends, monitor the usage of our website, and improve our
            services.
          </li>
          <li>
            To send you promotional emails and updates about our products or
            services, if you have opted in to receive such communications.
          </li>
        </ul>

        <h3 class="privacy-policy-subtitle">Information Sharing</h3>
        <p class="privacy-policy-description">
          We may share your personal information with third-party service
          providers who assist us in operating our website, conducting our
          business, or providing services to you. These third parties are
          obligated to protect your information and only use it for the purposes
          specified by us. <br />
          We may also disclose your information in response to a legal request,
          such as a subpoena or court order, or when we believe it is necessary
          to protect our rights, property, or safety, or the rights, property,
          or safety of others.
        </p>

        <h3 class="privacy-policy-subtitle">Data Security</h3>
        <p class="privacy-policy-description">
          We take reasonable measures to protect your personal information from
          unauthorized access, use, or disclosure. However, no method of
          transmission over the internet or electronic storage is 100% secure,
          and we cannot guarantee the absolute security of your data.
        </p>

        <h3 class="privacy-policy-subtitle">Changes to This Privacy Policy</h3>
        <p class="privacy-policy-description">
          We may update this Privacy Policy from time to time to reflect changes
          in our practices or legal requirements. We will notify you of any
          material changes by posting the new Privacy Policy on this page.
        </p>

        <h3 class="privacy-policy-subtitle">Contact Us</h3>
        <p class="privacy-policy-contact">
          Contact Us: If you have any questions or concerns about this Privacy
          Policy or our practices regarding your personal information, please
          contact us at
          <a href="mailto:GiggleGate@gmail.com">GiggleGate@gmail.com</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
